a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    position: sticky;
    background-color: beige;
    width: 100%;
    height: 50px;
    top:0;
}

html {
    scroll-behavior: smooth;
}