table {
	border: 1px solid rgb(0, 0, 0);
	border-collapse: separate;
	border-spacing: 10px;
	border-top: 0px;
}

caption {
	caption-side: top;
	text-align: right;
	border: 1px solid rgb(0, 0, 0);
	border-bottom: 0px;
}

tr {
	border: 1px solid rgb(84, 245, 145);
}

td, th {
	border: 1px solid rgb(255, 17, 17);
}

thead {
	background-color: aqua;
}


tbody {
	background-color: burlywood;
}


tfoot {
	background-color: darkgreen;
}

.colA {
	background-color: rgb(47, 185, 5);
}

.colB {
	background-color: rgb(5, 53, 185);
}